.login-page{
    background-color: #00c0b7;
}

.btn-1{
    background-color: #008fe6;
    color: #fff;
}

.btn-1{
    background-color: #008fe6;
    color: #fff;
}

.btn-1:hover{
    background-color: #00c0b7;
    color: #fff;
}

.link-1{
    color: #008fe6;
}

.link-1:hover{
    color: #00c0b7;
}

.titulo-1{
    color: #fff !important;
}